* {
    font-family:sans-serif;
}

header {
    background-color: #f8c4c4;
    color: #fff;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 150px;
  }
  
  header h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    color: #000;
  }
  
  .wonder-details {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #like-button {
    background-color:gray;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
    border:none;
    cursor:pointer;
    }
  
  #likes-box {
    font-size: 1.2rem;

    }
  
  #review-list {
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  
  #review-list p {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
  }
  
  #review-form textarea {
    height: 100px;
    width: 100%;
    font-size: 1.2rem;
     }

  
  #review-form button[type="submit"] {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor:pointer;
  }
